/* Estilos específicos para el mat-stepper en este componente */
.mi-stepper .mat-horizontal-stepper {
    padding: 0 !important;
}

.mi-stepper .mat-step-header {
    margin-bottom: 0 !important;
}

.mi-stepper .mat-horizontal-content-container {
    padding: 0 !important;
}

.mi-stepper .mat-step-header {
    padding: 8px 24px !important;
}

.mi-stepper .mat-step-label {
    padding: 12px !important;
}

.mat-stepper-horizontal-line {
    min-width: 20px !important;
    max-width: 20px !important;
}

fieldset {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 10px;
}