.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

/*
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
*/
#sysTitulo {
  font-weight: bold;
  color: #ebebeb;
}

#sysPanel {
  padding: 15px;
  background-color: #ebebeb;
}